#header {
    color: #fff;
    background-color: rgb(24, 24, 182);
    padding: 15px;
    text-align: center;
    font-family: cambria, times new roman;

}
nav .menu {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border: 1px solid #fff;
    display: flex;
    text-decoration: underline;
    justify-content: space-between;
    text-align: center
}
.isi {
    background-color: #1b1bfd;
    color: #fff;
    padding: 2%;
    border-radius: 1%;
}
.isi h1 {
    font-size: 30px;
    font-family: serif;
    font-style: italic;
}
.isi p {
    color: rgb(216, 214, 214);
    font-family: arial;
}
.isi h5 {
    text-decoration: underline;
    font-family: verdana;
}